includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 1
    paths:
        -  src

    excludes_analyse:
        - src/Kunstmaan/*/Tests/*
        - src/Kunstmaan/*/vendor/*
        - src/Kunstmaan/BehatBundle
        - src/Kunstmaan/GeneratorBundle/Resources/SensioGeneratorBundle
        - src/Kunstmaan/CacheBundle # Temporary excluded for full rework
        # Excluded deprecated classes/files
        - src/Kunstmaan/AdminBundle/Composer/ScriptHandler.php
        - src/Kunstmaan/AdminBundle/EventListener/ConsoleExceptionListener.php

    ignoreErrors:
        # Ignore errors on unfound classes for old symfony version BC layers
        - '#^Class Symfony\\Component\\Security\\Core\\Role\\RoleInterface not found\.\z#'

        - '#Constructor of class Kunstmaan\\MediaBundle\\AdminList\\MediaAdminListConfigurator has an unused parameter \$mediaManager\.#' # Will be fixed in separate PR

        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'

        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\Role\\RoleHierarchyInterface::getReachableRoles\(\)\.#'
        - '#Return typehint of method Kunstmaan\\AdminBundle\\Entity\\Role::setRole\(\) has invalid type Kunstmaan\\AdminBundle\\Entity\\RoleInterface\.#'
        - '#Call to method getRole\(\) on an unknown class Symfony\\Component\\Security\\Core\\Role\\RoleInterface\.#'

        # Return types on repository classes can't be guessed
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository<[a-zA-Z0-9\\_:]+>::[a-zA-Z0-9_]+\(\)#'
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository<[a-zA-Z0-9\\_:]+>::[a-zA-Z0-9_]+\(\)#'

        # BC layer for symfony role deprecation
        - '#Parameter \$role of method Kunstmaan\\AdminBundle\\Helper\\Security\\Acl\\Permission\\PermissionAdmin::getPermission\(\) has invalid typehint type Symfony\\Component\\Security\\Core\\Role\\RoleInterface\.#'

        # Remove this ignore rule when https://github.com/FabienPennequin/DoctrineExtensions-Taggable/pull/34 is merged
        - '#Call to method toArray\(\) on an unknown class DoctrineExtensions\\Taggable\\Doctrine\\Common\\Collections\\Collection#'

        # The Symfony Configuration API isn't good enough to be analysed
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\(NodeDefinition|NodeParentInterface)::[a-zA-Z0-9_]+\(\)\.\z#'
            path: ./src/Kunstmaan/*/DependencyInjection/Configuration.php

        -
            message: '#Call to an undefined method Doctrine\\ORM\\EntityRepository::findActiveOverviewPages\(\)\.#'
            path: ./src/Kunstmaan/ArticleBundle/AdminList/AbstractArticlePageAdminListConfigurator.php
